.editPagePoster {
    height: 272px;
    margin: 10px;
}

.editPageDescription {
    margin: 10px;
}

.editPageGenres {
    margin-bottom: 200px;
}

.details {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}