.movies {
    display : flex;
    flex-wrap: wrap;
}

.poster:hover {
    cursor: pointer;
}

.movieListMain {
    margin: auto;
    margin-bottom: 70px;
    text-align: center;
}

.moviesDisplay {
    text-align: center;
    margin: 0 auto;
}

.movieItem {
    width: 300px;
}

.movieFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: cadetblue;
}
